* {
  box-sizing: border-box;
  font-family: 'Open Sans','Noto Sans JP', sans-serif;
}

body, .user-menu {
  background-color: #28385E;
}

div {
  display: block;
}

.wrapper {
  width: 100%;
}

.content-box {
  width: 1020px;
  margin: 0 auto;
  padding: 8px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  opacity: .7;
}

ul {
  list-style: none;
}

li {
  color: white;
}

h2 {
  font-size: 12px;
  line-height: 1.4;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h1, h2, h3, h4, p, i {
  color: white;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.current-place-btn {
  cursor: pointer;
}
